<app-header 
  [isModal]="true" 
  [title]="tipoPost === 'perdida' ? 'Publicar Mascota Perdida' : 'Publicar Mascota Encontrada'">
</app-header>

<ion-content>

<form [formGroup]="form" class="ion-padding ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

  <!===== Si existe una imagen =====>
  <ion-avatar *ngIf="form.value.image">
    <img [src]="form.value.image" />
  </ion-avatar>

    <!===== Si no existe una imagen =====>
<ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>

  <br>
  <!===== Tomar/Seleccionaar imagen =====>
<ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
    Subir imagen
</ion-button>

      <!===== Pet Name =====>
      <app-custom-input 
        autocomplete="petName"
        [control]="form.controls.petName"
        type="text"
        label="Nombre de mascota"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.petName.errors && form.controls.petName.touched">

        <div *ngIf="form.controls.petName.errors?.['required']">Ingresar nombre de tu mascota</div>
        <div *ngIf="form.controls.petName.errors?.['minLength']">El nombre debe tener al menos 2 caracteres</div>

      </div>  

      <!===== Pet type =====>
      <app-custom-input 
        autocomplete="peType"
        [control]="form.controls.peType"
        type="text"
        label="Tipo de mascota"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.peType.errors && form.controls.peType.touched">

        <div *ngIf="form.controls.peType.errors?.['required']">Ingresar que tipo de mascota es</div>
        <div *ngIf="form.controls.peType.errors?.['minLength']">El nombre debe tener al menos 2 caracteres</div>

      </div>  

      <!===== Description Pet =====>
      <app-custom-input 
        autocomplete="descriptionPet"
        [control]="form.controls.descriptionPet"
        type="text"
        label="Descripción de la mascota"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.descriptionPet.errors && form.controls.descriptionPet.touched">

        <div *ngIf="form.controls.descriptionPet.errors?.['required']">Ingresar descripción de tu mascota</div>
        <div *ngIf="form.controls.descriptionPet.errors?.['minLength']">La descripción debe tener al menos 20 caracteres</div>

      </div>  

      <!===== Last ubication =====>
      <app-custom-input 
        autocomplete="lastUbiPet"
        [control]="form.controls.lastUbiPet"
        type="text"
        label="Ultima ubicación vista"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.lastUbiPet.errors && form.controls.lastUbiPet.touched">

        <div *ngIf="form.controls.lastUbiPet.errors?.['required']">Ingresar la ultima ubicación vista</div>
        <div *ngIf="form.controls.lastUbiPet.errors?.['minLength']">La ubicación debe tener al menos 20 caracteres</div>

      </div>  

      <!===== Date lost =====>
      <app-custom-input 
        autocomplete="dateLost"
        [control]="form.controls.dateLost"
        type="text"
        label="Fecha de perdida"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.dateLost.errors && form.controls.dateLost.touched">

        <div *ngIf="form.controls.dateLost.errors?.['required']">Ingresar la fecha de perdida</div>
        <div *ngIf="form.controls.dateLost.errors?.['minLength']">La fecha debe tener al menos 2 caracteres</div>

      </div>

      <!===== Contact =====>
      <app-custom-input 
        autocomplete="contactInfo"
        [control]="form.controls.contactInfo "
        type="text"
        label="Información de contacto"
      ></app-custom-input>

      <div class="validators" *ngIf="form.controls.contactInfo.errors && form.controls.contactInfo.touched">

        <div *ngIf="form.controls.contactInfo.errors?.['required']">Ingresar la información de contacto"</div>
        <div *ngIf="form.controls.contactInfo.errors?.['minLength']">El contacto debe tener al menos 9 caracteres</div>

      </div>  

      

      <ion-button mode="ios" class="ion-margin" type="submit" [disabled]="form.invalid">
        Añadir publicación 
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </form>

</ion-content>